*
{
    margin: 20px;
    padding: 20px;
}
body
{
    color: rgb(209, 209, 209);
}
h1
{
    text-align: center;
    color:black;
}
img
{
    width: 230px;
    height: 200px;
    margin-left: 40%;
}
p
{
    text-align: center;
    color:black;
}
section
{
    background-color: deepskyblue;
}